@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    background-image: url("../assets/background_blue.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* ✅ BEST OPTION */

    font-family: 'Poppins', sans-serif !important;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 1rem;
    width: auto;
    /* overflow: hidden; */
}
.signup-container {
    position: relative;  /* FIX */
    right: 0;            /* REMOVE */
    z-index: 2;
    background-color: #ffffff;
    width: 100%;
    max-width: 550px;
    height: auto;
    border-radius: 40px;
    padding: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.35);
}
.signup-container {

    z-index: 3;
}
.signup-container-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo-signup-container {
    width: 50%;
    margin: 0 auto 10px;
    display: block;
}
.welcome-message-container {
    margin: 10px;
}
.welcome-message {
    font-family: 'Poppins', sans-serif;
    color: #32418c;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    line-height: 1.1;
}

.join-text {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #2e3a8c; /* NU blue */
  text-align: center;
}

.highlight-text {
  background-color: #fbd117; /* NU yellow */
  color: #2e3a8c;
  padding: 0 6px;
  font-weight: 700;
}

.subtitle {
    font-size: 15px;
    text-align: center;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #1E1E1E;
}

.signup-fields {
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
 
}
/* TEXT FIELD */
.signup-textfield {
    width: 100%;
    padding: 14px 16px;
    margin: 0 0 15px;
    border: 1px solid #1E1E1E;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    display: block;

    box-sizing: border-box; /* ✅ FIX */
}
/* PLACEHOLDER STYLE */
.signup-textfield::placeholder {
    color: #777;
    font-weight: 400;
}

.field-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.field-with-label {
    display: flex;
    flex-direction: column;
    width: 100%;
}




/* BUTTON */
.signup-btn {
    width: 100%;
    padding: 14px;
    margin: 25px auto 0;
    background-color: #32418c;
    color: #fbd117;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
    display: block;
    transition: 0.2s;
    
    text-decoration: none;
    text-align: center;
    outline: none;
    display: block;

    box-sizing: border-box; /* ✅ FIX */

}
.signup-btn:hover {
    background-color: #283470;
}

.have-account {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #32418c;
    font-size: 15px;
    text-align: center;
}
.have-account-signin {
    font-family: 'Poppins', sans-serif;
    color: #32418c;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}